.header {
  padding: 38px 140px 0 140px;
}
.header__row {
  display: flex;
  column-gap: 30px;
  align-items: center;
  border: 1px solid rgba(123, 74, 226, 0.05);
  border-radius: 16px;
  padding: 11px 12px 13px 24px;
  /* width: 1280px; */
  background: rgba(123, 74, 226, 0.05);

  /* justify-content: space-between; */
}
.header__logo {
  display: flex;
  align-items: center;
  column-gap: 13px;
}
.header__nav ul {
  display: flex;
  justify-content: space-between;
  column-gap: 12px;
  position: relative;
  left: 450px;
}
.header__nav ul li a {
  color: rgba(255, 255, 255, 0.5);

  text-align: center;

  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  transition: 300ms;
}
.header__nav ul li a:hover {
  color: rgba(123, 74, 226, 0.5);
}
